/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    /* box-sizing: giúp giữ  thêm kích thước thẻ khi thêm padding  */
     box-sizing: border-box;
}
.clear{
    clear: both;
}
/* HEADER  */

.header {
    background-color:pink;
    padding: 10px 60px;
}
.header ul{

    /* B1: xóa kiểu danh sách */
    list-style: none;
}
.header a{
    /* b2: xóa dấu gạch dưới thẻ a */
    text-decoration: none;
    color: black;
}
/* margin top: xác định khoảng cách phía trên 20px
margin: xác định khoảng cách 4 bên trên dưới ngang và dọc
vd:10 px là tất cả cách lề 10.
10 15 20; t r,l b
margin: 10 15 20 25; t r b l
padding:  */
.header li{
    display: inline;
    margin-right: 30px;
    /* margin:0 15px; */
    font-size: 18px;
    /* padding: 10px;
    border: 3px solid gold; */
}
.header .active a{
    color: #E76F51;
}
/* Carousel */
.carousel{
    background-image: url(../img/BG.png);
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 200px 200px;
    position: relative;
    /* border-radius:  tạo góc cong cho thẻ */

}
.carousel_content{
    /* top,right,bottom,left: những thằng đi chung vs nhau */
    position: absolute;
    bottom: -85px;
    left:0;
}

/* CSS:  float */
.carousel_item{
float: left;
width: 25%;
padding: 0 25px;

/* margin: 15px 15px ; */
/* margin: chia khoảng của cách thẻ vs nhau */

}

.carousel_text{
    
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
}

/* ACTIVIES */
.activies{
    padding-top: 70px;
}
.activies_item{
    float: left;
    width: 25%;

    padding: 15px;
    /* padding: tạo khoảng cách các khối */
}
.active_text{
    background-color: #fff;
    border-radius: 20px;
    padding:30px;
    text-align: center;
    
}

,.activies_top{
   
}
.activies_top a{
    position: absolute;
    top: 10px;
    right: 20px;

    width: 40px;
    height: 40px;
    /* chỉnh kích thước icon  */
    /* font-size: 30px; */
    /* căn giữa icon  */
    /* cân theo chiều ngang */
    /* text-align: center; */
    /* nếu chữ,icon chỉ có một dòng thì line-height bằng chiều cao sẽ giúp căn giữa theo chiều dọc  */
    line-height: 40px;
    border-radius: 20px;
    background-color:rgba(255, 255, 0.5);
    /* đổi màu icon  */
    color: #E76F51;
    position: relative;
    /* làm mờ thẻ và nội dung thẻ  */
    /* opacity: 0.5; */
   
    
}